<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QASpeak</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
     <servlet-name>Speak</servlet-name>
     <servlet-class>sample.QASpeak</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Speak</servlet-name>
    <url-pattern>/Speak</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
     <servlet-name>Input</servlet-name>
     <servlet-class>servlet.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Input</servlet-name>
    <url-pattern>/Input</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
     <servlet-name>List</servlet-name>
     <servlet-class>servlet.ListAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List</servlet-name>
    <url-pattern>/List</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
     <servlet-name>Detail</servlet-name>
     <servlet-class>servlet.Detail2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detail</servlet-name>
    <url-pattern>/Detail</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
     <servlet-name>Comment</servlet-name>
     <servlet-class>servlet.Comment2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
</web-app>
